html, body {
    padding: 0;
    margin: 0;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    height: 100px;
    padding-left: 68px;
    margin-top: 40px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 2;
    text-decoration: none;
}

.logo-container:visited, .logo-container:hover, .logo-container:active {
    color: inherit;
}

.logo-container:hover {
    color: #403F3F;
}

.lhs-logo-header {
    height: 60px;
    width: 90px;
}

.lhs-logo-header:hover {
    opacity: 0.7;
}

.lhs-logo-footer {
    height: 75px;
    width: 115px;
    margin-right: 10px;
}

.logo-text {
    width: 120px;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
}

.navbar-unspeakables {
    text-decoration: none;
}

.navbar-link-container,
.navbar-unspeakables {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 16px;
    flex-basis: 1;
    display: flex;
    column-gap: 27px;
    align-items: center;
    padding-right: 10px; 
}

.language-button,
.navbar-unspeakables {
    all:unset;
}

.navbar-about,
.navbar-resources,
.navbar-participants,
.navbar-sponsors,
.navbar-archive,
.language-button,
.navbar-unspeakables {
    text-decoration: none;
    color: #000;
}

.navbar-link-container > a:hover,
.language-button:hover,
.navbar-unspeakables:hover {
    color: #403F3F;
}

.language-button:hover,
.selected-language {
    font-weight: 500;
}

.lang-selection {
    margin-right: 30px;
}

.intro {
    font-size: 36px;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 65px;
    width: 60%;
    margin-left: 250px;
    margin-bottom: 96px;
    margin-top: 50px;
    color: #403F3F;
}


.landing-image {
    width: 100%;
}

.description {
    margin-left: 68px;
    width: 50%;
    margin-top: 110px;
    margin-bottom: 150px;
}

.description > h3 {
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 34px;
}

.description > p {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-weight: 200;
    font-size: 18px;
    margin-top: 38px;    
    margin-bottom: 38px;    
}

.description > button {
    background-color: #403F3F;
    color: #FFFFFF;
    width: 204px;
    height: 58px;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 14px;
    border: none;
}

.description > button:hover {
    background-color: #1b1b1b;
    cursor: pointer;
}


.structure {
    width: 100%;
    background: url("../images/leros-structure-background.png");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.45);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 949.5px;
}

.structure > h4 {
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 110px;
    margin-bottom: 34px;
}

.structure-info {
    color: #FFFFFF;
    line-height: 48px;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 250px;
}

.outro {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 190px;
}

.outro > p {
    width: 70%;
    font-weight: 200;
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 40px;
}

.footer {
    margin-right: 68px;
    margin-left: 68px;
}

.footer-seperator {
    height: 100px;
}

hr {
    margin-bottom: 30px;
}

.footer-logo-text {
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 22px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40%;
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 200;
    padding-top: 28px;
    padding-bottom: 80px;
}

.address > p,
.contact > p {
    display: flex;
    padding: 0;
    margin: 0;
}

.page-container,
.archive-page-container {
    margin-left: 68px;
    margin-right: 68px;
}
.archive-page-container {
    min-height: 450px;
}

.section-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.section-title {
    flex-basis: 40%;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 42px;
    margin-top: 0;
}

.section-content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.about-page-section-content-title {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 24px;
    margin-top: 0;
}

.about-page-section-content-parag {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 85px;
}

.about-page-topics-container {
    display: flex;
    justify-content: center;
}

.about-page-topics {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    row-gap:10px;
    justify-content: space-around;
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    
}

.text-shadow {
    text-shadow: 1px 0.5px #000;
}

.topics-vertical-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.topics-horizontal-group {
    display: flex;
    column-gap: 5px;
}

.topics-vertical-group-item {
    width: 250px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topics-horizontal-group-item {
    width: 125px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topics-round {
    border-radius: 10px;
}

.topics-oval {
    border-radius: 50px;
}

.topics-single-wide {
    width: 255px;
    height: 130px;
    display: flex;
    align-items: center;
}

.centered-text {
    text-align: center;
    width: 100%;
}

.topics-tall {
    height: 268px;
}

#topic-1 {
    background-image: url("../images/topics/1.png");
    background-size: 254px 134px;
}
#topic-2 {
    background-image: url("../images/topics/2.png");
    background-size: 254px 134px;
}
#topic-3 {
    background-image: url("../images/topics/3.png");
    background-size: 159px 272px;
}
#topic-4 {
    background-image: url("../images/topics/4.png");
    background-size: 192px 272px;
}
#topic-5 {
    background-image: url("../images/topics/5.png");
    background-size: 129px 134px;
}
#topic-6 {
    background-image: url("../images/topics/6.png");
    background-size: 129px 134px;
}

#topic-7 {
    background-image: url("../images/topics/7.png");
    background-size: 259px 134px;
}
#topic-8 {
    background-image: url("../images/topics/8.png");
    background-size: 354px 134px;
}
#topic-9 {
    background-image: url("../images/topics/9.png");
    background-size: 354px 134px;
}
#topic-10 {
    background-image: url("../images/topics/10.png");
    background-size: 129px 134px;
}

#topic-11 {
    background-image: url("../images/topics/11.png");
    background-size: 129px 134px;
}

#topic-12 {
    background-image: url("../images/topics/12.png");
    background-size: 259px 134px;
}

.about-page-questions-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 108px;
    align-items: center;
}


.about-page-questions-intro {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin-top: 85px;
    margin-bottom: 85px;
    width: 90%;
}

.about-page-questions {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 200;
    font-size: 24px;
    line-height: 50px;
    width: 90%;
}

.about-page-questions-left-aligned {
    justify-content: flex-start;
}

.about-page-questions-right-aligned {
    margin-left: 137px;
}

.sponsors-intro {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 35px;
    font-weight: 300; 
    margin: 0;
    margin-bottom: 20px;
}

.coming-soon {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 34px;
    font-weight: 200;
}

.cosponsors-list,
.cosponsors-sublist,
.supporters-list,
.participants-list,
.participants-sublist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cosponsors-list {
    margin-bottom: 40px;
}

.supporters-list {
    margin-top: 10px;
    margin-bottom: 60px;
}

.participants-sublist {
    margin-bottom: 40px;
}

.participants-bold,
.sponsors-bold {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.sponsors-bold {
    margin-top: 40px;
}
.participants,
.sponsors {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 200;  
    line-height: 32px;
    padding-bottom: 13px;
}


.resource-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    column-gap: 58px;
    row-gap: 58px;
    margin-bottom: 60px;
}

.resource-card {
    width: 400px;
    height: 450px;
    border-radius: 5px;
    padding: 45px;
    text-decoration: none;
    background-color: #707161;
}

.resource-card:hover {
    background-color: #3b3b37;
}

.resource-title {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 26px;
    font-weight: 400;
    color: #FFFFFF;
    height: 180px;
}

.citation {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 22px;
    font-weight: 200;  
    color: #FFFFFF;
    margin-bottom: 40px;
}

.resource-author {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 200;  
    color: #FFFFFF;    
    margin: 0;
    padding: 0;  
}

.dark-green {
    background-color: #505145;
}

.participants > a {
    text-decoration: none;
}

.participants > a:visited {
    color: inherit;
}

.participants > a:hover {
    color: #403F3F;
}


.sponsors-logo-section {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;

}

.sponsors-title {
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 42px;
    margin-top: 0;
}

.round-tables-button,
.workshops-button {
    font-family: 'Manrope';
    letter-spacing: 0.5px;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    background-color:transparent;
    border: none;
    color: #FFFFFF;
    margin-top: 0;
    padding-top: 0;
}

.round-tables-button:hover,
.workshops-button:hover {
    cursor: pointer;
}

.selected-category {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.contact-email:hover {
    color: #403F3F;
    cursor: pointer;
}

.artemis-link {
    text-decoration: none;
    color: #FFFFFF;
}

.contact-section {
    width: 100%;
    background-color: #403F3F;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding-left: 10%;
    margin-bottom: 40px;
}

.contact-prompt {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 36px;
    color: white;
}

.contact-button {
    background-color: #FFFFFF;
    color: #403F3F;
    width: 204px;
    height: 58px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    border: none;
}

.contact-button:hover {
    background-color: #c7c5c5;
    color: #232323;
}

.auth-form-section {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    font-family: 'Manrope';
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
}

.auth-label {
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

.auth-input {
    height: 40px;
    width: 70%;
}

.auth-prompt {
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;  
    margin: 0;
    padding: 0;
}

#login-button,
#signup-button  {
    background-color: #403F3F;
    color: #FFFFFF;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
}

#login-button:disabled,
#signup-button:disabled {
    opacity: 0.5;
}

#reset-button {
    border: none;
    background-color: #FFFFFF;
    font-family: 'Manrope';
    text-decoration: underline;
    color:#000;
    font-size: 12px;
    font-weight: 400;
}

.auth-view-change-link {
    all:unset;
    font-family: 'Manrope';
    color: #000;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
}


#reset-button:hover,
.auth-view-change-link:hover {
    font-weight: 500;
}

.agreement-prompt {
    font-family: 'Manrope';
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    margin-top: 20px;
    width: 70%;
    font-family: "Raleway";
    font-size: 15px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    font-family: "Raleway";
    font-size: 15px;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}